:root {
  --background: #ffffff;
  --surface: #ffffff;
  --surface-sunken: #f8f8f8;

  --text: #292a2e;
  --text-subtle: #505258;
  --text-subtlest: #6b6e76;

  --border: #0b120e24;
  --border-bold: #7d818a;

  --brand: #1868db;
  --brand-hover: #1558bc;

  --focus: #4688ec;

  --success: #4c6b1f;
  --danger: #ae2e24;
  --warning: #9e4c00;

  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;

  --shadow-raised:
    0 1px 1px rgba(30, 31, 33, 0.25), 0 0 1px rgba(30, 31, 33, 0.3);
}

body {
  background: var(--background);

  color: var(--text);

  font-family:
    Atlassian Sans,
    Inter,
    sans-serif;

  margin: 0;
}
